<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>바보상자 • 이미지호스팅</title>
  <link rel="shortcut icon" href="https://i.ibb.co/80mBhw1/003-5.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200&display=swap" rel="stylesheet">
  <style>
    .themeFont {
      font-family: "IBM Plex Sans KR", sans-serif;
      font-weight: bold;
      font-style: normal;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: "IBM Plex Sans KR", sans-serif;
    }

    div, span {
      transition: all 0.2s ease;
    }

    #header {
      display: flex;
      width: 95%;
      height: 70px;
      margin: 1% auto;
      position: relative;
      justify-content: center;
      align-items: center;
    }

    #logo {
      display: flex;
      width: 70px;
      height: 70px;
      margin-right: auto;
    }

    #menu {
      display: flex;
      width: auto;
      height: 70px;
      margin-left: auto;
      justify-content: center;
      align-items: center;
    }

    button, label {
      height: 40px;
      width: 100px;
      border-radius: 10px;
      border: none;
      transition: all 0.7s ease;
      font-size: 16px;
    }

    .button-low {
      background-color: #ffffff;
      color: #333333;
    }

    .button-mid {
      background-color: #333333;
      color: #ffffff;
    }

    .button-low:hover {
      box-shadow: inset 0px 0px 10px rgba(200, 200, 200, 0.5);
      border: 3px solid rgba(220, 220, 220, 0.7);
      border-radius: 20px;
    }

    .button-mid:hover {
      border: 3px solid rgba(100, 100, 100, 0.7);
      background-color: rgba(50, 50, 50, 0.8);
      border-radius: 15px;
    }

    #bodyer {
      text-align: center;
      padding: 20px;
    }

    img {
      max-width: 80%;
    }
  </style>
</head>

<body>
  <div id="header">
    <span id="logo"><img src="https://ifh.cc/g/s2VbZZ.png" width="70px" height="70px" alt="Logo"></span>
    <span id="menu">
      <span class="header-button-cover"><button class="button-low" onclick="movePage('/aboutbot.html')"><div>소개</div></button></span>
      <span class="header-button-cover"><button class="button-low" onclick="movePage('/howtouse.html')"><div>공지</div></button></span>
      <span class="header-button-cover"><button class="button-low" onclick="movePage('/server.html')"><div>소통</div></button></span>
      <span class="header-button-cover"><button class="button-mid" onclick="window.location.href = '/';"><div>+ 업로드</div></button></span>
    </span>
  </div>

  <hr style="width: 95%; border: 0.5px solid #7d7d7d;">

  <div id="bodyer">
    <center>
      <img src="/images/<%= filename %>" alt="검열된 이미지">
      <div>
        <button onclick="kill('<%= filename %>');" class="button-mid">신고</button>
      </div>
    </center>
  </div>

  <script>
    function kill(filename) {
      fetch(`/imagesKill/${filename}`, {
          method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => {
          console.log(data.message);
          if (data.message === '이미지가 성공적으로 삭제되었습니다.') {
              alert('Image deleted successfully');
              document.querySelector('img').remove();
          }
      })
      .catch(error => {
          console.error('Error:', error);
      });
    }

    function movePage(page) {
      window.alert("아직 개발중...");
    }
  </script>
</body>

</html>
